@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*--------------------------------------------General*/
body {
  color: #000;
  background-color: white;
  margin: 0 auto;
  font-style: normal;
  font-family: "Roboto", sans-serif; 
  font-weight: 300;
  line-height: 1.4;
  font-size: 15px;
}
h1 {
    text-align: center;
    font-family: "Exo", sans-serif; 
    padding-bottom: 10px;
    margin-top: 30px;
}
p {
    font-family: "Exo", sans-serif; 
    font-style: normal;
}
.navbar {
    font-size: 20px;
    font-weight: 500;
    list-style-type: none
}
.navbar a {
    color: white;
    font-family: "Exo", sans-serif;
    padding: 16px;
}
.navbar li{
    float: left;
}
h2 {
    margin: 0 auto;
    padding-bottom: 20px;
}
.navbar ul {
    list-style: none;
}
main {
    min-height: 95vh;
}
/*--------------------------------------------Content*/
.content {
    margin: 0 auto;
    text-align: center;
}

.band {
    margin: 0 auto;
    text-align: center;
}
.members {
    margin: 0 auto;
}
.bg-image {
    background-size: cover;
    margin: 0 auto;
    min-height: 260px;
    background-repeat: no-repeat;
    border: 2px solid;
    margin-bottom: 20px;
}
#davy-image {
    background-image: url(../assets/images/dj.jpg);
}
#mickey-image {
    background-image: url("../assets/images/md.jpg");
}
#michael-image {
    background-image: url("../assets/images/mn.jpg");
}
#peter-image {
    background-image: url("../assets/images/pt.jpg");
}
/*--------------------------------------------Ourmusic*/
.uppercase {
    text-transform: uppercase;
}
.heading2 {
    margin: 0 auto;
    padding-top: 30px;
}
.audio {
    text-align: center;
}
/*--------------------------------------------Contact*/
button[type="submit"] {
    background: green;
}
.contact-image {
    margin: 20px auto;
    border: solid 2px;
    width: 100%;
}
.contactinfo {
    text-align: center;
}
/*--------------------------------------------Timeline*/
.timeline {
    list-style-type: none;
    position: relative;
}
.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.time {
    min-height: 85vh;
}
/*--------------------------------------------Footer*/
.list-inline { 
    text-align: center;
    padding-top: 10px;
}
footer a {
    font-size: 22px;
    color: white;
    letter-spacing: 30px;
}
.image {
    width: 100%;
}
/*--------------------------------------------Media Queries*/
@media screen and (max-width: 768px) {
.contact-image {
    width: 100%;
    margin-top: 20px;
}
}