@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*--------------------------------------------General*/
.container-fluid {
    background: black;
}
body {
  color: #000;
  background-color: white;
  margin: 0 auto;
  font-style: normal;
  font-family: "Roboto", sans-serif; 
  font-weight: 300;
  line-height: 1.4;
  font-size: 15px;
}
h1 {
    text-align: center;
    font-family: "Exo", sans-serif; 
    padding-bottom: 10px;
    margin-top: 30px;
}
p {
    font-family: "Exo", sans-serif; 
    font-style: normal;
}
.navbar {
    font-size: 20px;
    font-weight: 500;
    list-style-type: none
}
.navbar a {
    color: white;
    font-family: "Exo", sans-serif;
    display: block;
    padding: 16px;
}
.navbar li{
    float: left;
}
h2 {
    margin: 0 auto;
    padding-bottom: 20px;
}


/*--------------------------------------------Content*/

.container {
    margin: 0 auto;    
}
.content {
    margin: 0 auto;
    text-align: center;
}
.members {
    margin: 0 auto;
}
.band {
    margin: 0 auto;
    text-align: center;
}
.davy {
    background: url("../assets/images/dj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 25%;
    min-height: 260px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 5px;
}
.mickey {
    background: url("../assets/images/md.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    min-height: 260px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 5px;
}
.michael {
    background: url("../assets/images/mn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
    margin-bottom: 30px;
    min-height: 260px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 5px;
    margin-left: 25%;
}
.peter {
    background: url("../assets/images/pt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    min-height: 260px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 5px;
}
.davy h3 {
    color: white;
}
.mickey h3 {
    color: white;
}
.michael h3 {
    color: white;
    text-align: center;
}
.peter h3 {
    color: white;
    text-align: center;
}

/*--------------------------------------------Footer*/
.list-inline { 
    text-align: center;
    padding-top: 10px;
}
footer ul li a {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: white;
    letter-spacing: 30px;
    padding-top: 10px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
/*--------------------------------------------Media Queries*/
@media screen and (max-width: 576px) {
.mickey {
   margin-right: 30px;
   margin-left:  25%;
}
@media screen and (max-width: 576px) {
.peter {
   margin-right: 30px;
   margin-left:  25%;
}